/* style.css */
body {
    background-color: #f3afff;
    font-family: 'Arial', sans-serif;
    margin: 0;
  }
  
  .flex {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
  }
  
  input {
    margin: 10px 0;
    padding: 12px;
    font-size: 16px;
    border: 2px solid #3498db;
    border-radius: 5px;
    outline: none;
  }
  
  button {
    margin: 10px 0;
    padding: 15px 20px;
    font-size: 18px;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    outline: none;
  }
  
  button:disabled {
    background-color: #a105c0;
    cursor: not-allowed;
  }
  
  button.play {
    background-color: #cc2ec7;
  }
  
  button.reset {
    background-color: #e74c3c;
  }
  
  
  
  h2 {
    margin-top: 20px;
    font-size: 36px;
    color: #490769;
  }
  

  h1{
    margin-top: 20px;
    font-size: 36px;
    color: #5c1199;
  }